.container {
  border-radius: 20px;
  box-shadow: 5px 5px 15px 5px black;
  background-color: black;
  color: white;
}

@media all and (max-width: 433px) {
  .container {
    width: 87% !important;
    position: relative;
    right: 1pc;
  }
  input {
    width: 20pc !important;
  }
}
